<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>home</title>
</head>
<body>
{{> header}}
<P>
  {{ScreemIt welcomeMessage}}
  <a href='/'><p>Home</p></a>
  <a href='/about'><p>About</p></a>
</p>
{{> footer}}
</body>
</html>
